tiles.plantopo.com {
	handle /tilejson/* {
		reverse_proxy localhost:3010
	}

	handle /tiles/my-personalb/* {
		@unauthorized not header Authorization "Bearer {$TILES_TOKEN_FULL}"
		respond @unauthorized "Unauthorized" 401
		reverse_proxy localhost:3010
	}

	handle /tiles/* {
		@unauthorized {
			not header Authorization "Bearer {$TILES_TOKEN_FULL}"
			not header Authorization "Bearer {$TILES_TOKEN_STANDARD}"
		}
		respond @unauthorized "Unauthorized" 401
		reverse_proxy localhost:3010
	}

	# Everything else blocked
	respond "Not Found" 404
}
