[Unit]
Description=Plantopo Tile Server
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/plantopo-tiles:latest
PublishPort=8080:8080
Volume=plantopo-tiles-cache:/mapproxy/cache:Z
EnvironmentFile=%h/.config/plantopo-tiles/env

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=120

[Install]
WantedBy=default.target
